.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  .product-image {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .product-image img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  
  .product-details {
    text-align: center;
  }
  
  .product-name {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .product-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff3366;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-button:hover {
    background-color: #cc0044;
  }